$red-border: #c91111;  
$line-header: #f4f4f4;
$pink: #FFC0CB;
$title: #1c1c1c;
$sprite: #4f4f4f;
$bcg: #f5f5f5;
$menu: #373737;
$advogrand: #313131;
$footer: #0e0e0e;
$red-text: #e53434;
$text-black: #313131;