.advantages {
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
    &-title {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.3px;
        color: $title;
        @include proximaReg;
        text-align: center;
    }
    &-items {
        margin-top: 80px;
        ul {
            font-size: 13px;
            font-weight: 600;
            @include proximaLight;
            li {
                a {
                    transition: all .3s;
                    &:hover{
                        transition: all .3s;
                        color: $red-border;
                    }
                }
            }
        }
        &_list {
            text-align: right;
            padding-top: 55px;
            li {
                padding-top: 30px;
            }
        }
        &_advogrand {
            text-align: center;
            padding-bottom: 30px;
            .items-bold {
                @include proximaExtra;
            }
            li {
                padding-top: 30px;
            }
        }
        .items-line {
            border: 1px solid #eeeeee;
            // border-left: none;
            padding: 30px;
            }
        .span_advogrand {
            // color: #000000;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.14px;
            @include proximaExtra;
            padding-bottom: 30px;
        }
    }
    &__items {
        box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
        background-color: #26b83a;
        padding-top: 30px;
        color: #ffffff;
    }
    &-btn_more {
        border-radius: 5px;
        background-color: $red-border;
        border: 1px solid  $red-border;
        color: #ffffff;
        width: 280px;
        height: 65px;
        margin-top: 13px;
        font-weight: 300;
        @include proximaExtra;
        transition: all .3s;
        &:hover {
            background-color: #ffffff;
            color: $red-border;
            transition: all .3s;
        }
    }
    .col-top {
        margin-top: -5px;
    }
}
@media(max-width: 1199px) {
    .advantages {
        margin-top: 50px;
        margin-bottom: 50px;
        &-title {
            font-size: 27px;
        }
        &-items {
            margin-top: 40px;
            .span_advogrand {
                display: block;
                text-align: center;
                padding-bottom: 10px;
            }
            &_list {
                text-align: center;
                padding-top: 60px;
                li {
                    padding-top: 20px;
                }
            }
            &_advogrand { 
                li {
                    padding-top: 20px;
                }
            }
        }
        &__items {
            padding-top: 15px;
        }
        &-btn_more {
            display: block;
            margin: 0 auto;
        }
    }
}
@media(max-width: 768px) {
    .advantages {
        &-title {
            font-size: 24px;
        }
        &-items {
            margin-top: 40px;
            .span_advogrand {
                display: block;
                text-align: center;
                padding-bottom: 10px;
            }
            &_list {
                padding-top: 10px;
            }
        }
    }
}